.container {
    display: flex;
}

body {
    margin: 15px;
    padding: 0;
    background-color: #f0f0f0; 
}

button.fecha-hora {
    margin-left: auto; 
}



main {
    flex: 1; 
    padding: 20px; 
}

nav {
    flex: 0 0 23%; 
    background-color: #ad8787;  
    padding: 20px;
    color: #000000; 
}

.post-container {
    border-right: 2px solid #000000; 
    padding-right: 10px; 
    font-size: 18px;
}


h2, h3, h4 {
    margin-top: 0; 
}
